/workspace3/.metadata/.lock
/workspace3/.metadata/.log
/workspace3/.metadata/.mylyn/.taskListIndex/segments.gen
/workspace3/.metadata/.mylyn/.taskListIndex/segments_1
/workspace3/.metadata/.mylyn/.tasks.xml.zip
/workspace3/.metadata/.mylyn/repositories.xml.zip
/workspace3/.metadata/.mylyn/tasks.xml.zip
/workspace3/.metadata/.plugins/org.eclipse.ajdt.ui/dialog_settings.xml
/workspace3/.metadata/.plugins/org.eclipse.ajdt.ui/Xlint.properties
/workspace3/.metadata/.plugins/org.eclipse.compare/dialog_settings.xml
/workspace3/.metadata/.plugins/org.eclipse.core.resources/.projects/LiftSystem/.markers
/workspace3/.metadata/.plugins/org.eclipse.core.resources/.projects/LiftSystem/org.eclipse.jdt.core/state.dat
/workspace3/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/workspace3/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/workspace3/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/workspace3/.metadata/.plugins/org.eclipse.core.resources/.root/26.tree
/workspace3/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/workspace3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ajdt.ui.prefs
/workspace3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.contribution.visualiser.prefs
/workspace3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
/workspace3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
/workspace3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
/workspace3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
/workspace3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
/workspace3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
/workspace3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
/workspace3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
/workspace3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
/workspace3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.java.ui.prefs
/workspace3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
/workspace3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
/workspace3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.recommenders.completion.rcp.prefs
/workspace3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
/workspace3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
/workspace3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
/workspace3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
/workspace3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
/workspace3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
/workspace3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.ui.prefs
/workspace3/.metadata/.plugins/org.eclipse.debug.core/.launches/LiftController (1).launch
/workspace3/.metadata/.plugins/org.eclipse.debug.core/.launches/LiftController.launch
/workspace3/.metadata/.plugins/org.eclipse.debug.core/.launches/Runner (1).launch
/workspace3/.metadata/.plugins/org.eclipse.debug.core/.launches/Runner.launch
/workspace3/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
/workspace3/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
/workspace3/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/workspace3/.metadata/.plugins/org.eclipse.equinox.p2.ui/dialog_settings.xml
/workspace3/.metadata/.plugins/org.eclipse.jdt.core/1188785453.index
/workspace3/.metadata/.plugins/org.eclipse.jdt.core/1794327708.index
/workspace3/.metadata/.plugins/org.eclipse.jdt.core/1878111493.index
/workspace3/.metadata/.plugins/org.eclipse.jdt.core/1897928139.index
/workspace3/.metadata/.plugins/org.eclipse.jdt.core/2124794368.index
/workspace3/.metadata/.plugins/org.eclipse.jdt.core/2953298812.index
/workspace3/.metadata/.plugins/org.eclipse.jdt.core/3079686767.index
/workspace3/.metadata/.plugins/org.eclipse.jdt.core/3431489974.index
/workspace3/.metadata/.plugins/org.eclipse.jdt.core/3498974549.index
/workspace3/.metadata/.plugins/org.eclipse.jdt.core/3517127072.index
/workspace3/.metadata/.plugins/org.eclipse.jdt.core/3698278747.index
/workspace3/.metadata/.plugins/org.eclipse.jdt.core/3705452257.index
/workspace3/.metadata/.plugins/org.eclipse.jdt.core/3861206012.index
/workspace3/.metadata/.plugins/org.eclipse.jdt.core/402782763.index
/workspace3/.metadata/.plugins/org.eclipse.jdt.core/434535315.index
/workspace3/.metadata/.plugins/org.eclipse.jdt.core/484820676.index
/workspace3/.metadata/.plugins/org.eclipse.jdt.core/58444662.index
/workspace3/.metadata/.plugins/org.eclipse.jdt.core/899518542.index
/workspace3/.metadata/.plugins/org.eclipse.jdt.core/904289187.index
/workspace3/.metadata/.plugins/org.eclipse.jdt.core/972666350.index
/workspace3/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
/workspace3/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
/workspace3/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
/workspace3/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
/workspace3/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
/workspace3/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
/workspace3/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
/workspace3/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/workspace3/.metadata/.plugins/org.eclipse.jdt.debug.ui/dialog_settings.xml
/workspace3/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
/workspace3/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
/workspace3/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
/workspace3/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
/workspace3/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
/workspace3/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2019/2/7/refactorings.history
/workspace3/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2019/2/7/refactorings.index
/workspace3/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2019/4/14/refactorings.history
/workspace3/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2019/4/14/refactorings.index
/workspace3/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/LiftSystem/2019/2/6/refactorings.history
/workspace3/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/LiftSystem/2019/2/6/refactorings.index
/workspace3/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/LiftSystem/2019/2/7/refactorings.history
/workspace3/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/LiftSystem/2019/2/7/refactorings.index
/workspace3/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/LiftSystem/2019/4/14/refactorings.history
/workspace3/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/LiftSystem/2019/4/14/refactorings.index
/workspace3/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
/workspace3/.metadata/.plugins/org.eclipse.m2e.core.ui/dialog_settings.xml
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/_0.cfs
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/_0_1.del
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/_1.cfs
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/_1_1.del
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/_2.cfs
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/segments.gen
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/segments_4
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/write.lock
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_a.cfs
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_a_1.del
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_b.cfs
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_c.cfs
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_c_1.del
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_d.cfs
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_e
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/a362ed7a40fc8e223705ad13ed088d53/_0.cfs
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/a362ed7a40fc8e223705ad13ed088d53/_0_1.del
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/a362ed7a40fc8e223705ad13ed088d53/_1.cfs
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/a362ed7a40fc8e223705ad13ed088d53/_2.cfs
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/a362ed7a40fc8e223705ad13ed088d53/_2_1.del
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/a362ed7a40fc8e223705ad13ed088d53/_3.cfs
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/a362ed7a40fc8e223705ad13ed088d53/_4.cfs
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/a362ed7a40fc8e223705ad13ed088d53/_5.cfs
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/a362ed7a40fc8e223705ad13ed088d53/_6.cfs
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/a362ed7a40fc8e223705ad13ed088d53/_6_1.del
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/a362ed7a40fc8e223705ad13ed088d53/_7.cfs
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/a362ed7a40fc8e223705ad13ed088d53/segments.gen
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/a362ed7a40fc8e223705ad13ed088d53/segments_9
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/nexus/a362ed7a40fc8e223705ad13ed088d53/write.lock
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
/workspace3/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
/workspace3/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
/workspace3/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.1.20150109-1820.xml
/workspace3/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
/workspace3/.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml
/workspace3/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
/workspace3/.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
/workspace3/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
/workspace3/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/workspace3/.metadata/.plugins/org.eclipse.ui/dialog_settings.xml
/workspace3/.metadata/.plugins/org.eclipse.wst.internet.cache/cache.xml
/workspace3/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
/workspace3/.metadata/.plugins/org.eclipse.wst.sse.ui/dialog_settings.xml
/workspace3/.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
/workspace3/.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
/workspace3/.metadata/.plugins/org.eclipse.wst.xml.core/user_catalog.xml
/workspace3/.metadata/.plugins/org.eclipse.xtend.ide/dialog_settings.xml
/workspace3/.metadata/.plugins/org.eclipse.xtext.builder/builder.state
/workspace3/.metadata/.plugins/org.rv.larva.ui/dialog_settings.xml
/workspace3/.metadata/version.ini
/workspace3/.recommenders/caches/identified-project-coordinates.json
/workspace3/.recommenders/caches/manual-mappings.json
/workspace3/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_4.fdt
/workspace3/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_4.fdx
/workspace3/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_4.fnm
/workspace3/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_4.frq
/workspace3/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_4.nrm
/workspace3/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_4.prx
/workspace3/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_4.tii
/workspace3/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_4.tis
/workspace3/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments.gen
/workspace3/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_5
/workspace3/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/_remote.repositories
/workspace3/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/jre-1.0.0-20140604.182326-1-call.zip
/workspace3/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/maven-metadata-models.xml
/workspace3/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/resolver-status.properties
/workspace3/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/_remote.repositories
/workspace3/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/index-0.0.0-20140605.014212-1.zip
/workspace3/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/maven-metadata-models.xml
/workspace3/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/resolver-status.properties
